.links-headings {
  margin-left: 30px;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0 45px;
  font-weight: bold;
}

ul a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

ul a:hover {
  color: rgb(197, 196, 196);
}

.logo {
  width: 30px;
  height: 30px;
}
.nav-banner {
  background-color: rgb(62, 71, 52);
  padding: 100px 120px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-banner a {
  text-decoration: inherit;
  display: block;
  padding: 10px;
  color: white;
}

.search-container {
  flex-grow: 1;
  margin-right: 10px;
  position: relative;
  margin: 10px;
}

.btn-container-home {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-grow: 1;
}

.btn-container-home input {
  height: 40px;
}

input[type="image"] {
  width: 30px;
  height: 30px;
}

input[type="image"]:hover {
  opacity: 70%;
}

input[type="text"] {
  background-position: 10px center;
  background-repeat: no-repeat;
  background-color: inherit;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  float: right;
  border-radius: 5px;
  width: 200px;
  padding-left: 50px;
  font-weight: bold;
}

.search-icon {
  width: 25px;
}
